<header class="absolute z-50 top-0 left-0 right-0
{{#if isIndex}} bg-transparent 
{{else}} bg-black shadow-xl
{{/if}}
">
    <div class="container mx-auto px-4">
        <div class="relative flex items-center justify-between 
          {{#if isIndex}} h-32 {{else}} h-16 {{/if}}">
            <div class="flex-1 flex items-center justify-between">
                <div class="flex-shrink-0 flex items-center">

                    <a href="/" class="relative aspect-video {{#if isIndex}} w-48 h-24 {{else}} w-24 h-12 {{/if}}">
                        <img src="{{#if isIndex}} /images/logo/white/full.svg {{else}} /images/logo/color/full.svg {{/if}}"
                            class="absolute w-full h-full object-cover" />
                    </a>

                </div>

                <nav class="space-x-4">
                    <a href="/team" class="text-gray-100 hover:bg-blue-200 hover:bg-opacity-25 transition-all md-px-4 py-2 rounded-xl text-sm
                        {{#if isIndex}} hover:text-white {{else}} hover:text-blue-500 {{/if}}">
                        <i class="fas fa-users"></i>
                        Team
                    </a>
                    <a href="/blog" class="text-gray-100 hover:bg-blue-200 hover:bg-opacity-25 transition-all px-4 py-2 rounded-xl text-sm
                        {{#if isIndex}} hover:text-white {{else}} hover:text-blue-500 {{/if}}">
                        <i class="fas fa-code"></i>
                        Blog
                    </a>
                </nav>

            </div>
        </div>
    </div>
</header>